*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
}

/* Intro video */
#intro{
position:fixed;
width:100%;
height:100vh;
background:black;
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

#intro video{
width:100%;
height:100%;
object-fit:cover;
}

/* Ocultar contenido al inicio */
#contenido{
display:none;
}

/* Header */
header{
background:#222;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
}

main{
padding:40px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
}
